<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Need some help on your IT landscape?</h2>
                <hr class="light">
                <p class="text-faded">IT Consulting, Java EE (7, especially JPA, JSF, EJB, CDI) programming, SQL. Whether it is a new project on a green field with lots of architecture decisions to be made or some help on your existing software: Let's discuss if and how I can support you.</p>
            </div>
        </div>
    </div>
</section>
